.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
button {
  padding: 1rem;
  font-size: 1rem;
}

input {
  outline: none;
}

button {
  font-weight: 700;
  letter-spacing: 3px;
}
